.sects {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: row;
   margin: 100px auto; 

   @media (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px;
   }
}

.section_2 {
   margin-right: 100px; 
   @media (max-width: 800px) {
      margin: 20px auto;
   }
}

.main {
   padding: 20px;
   align-items: flex-start;
   text-transform: uppercase;
   opacity: 0;
   animation: fadeIn 0.5s ease forwards;

   b {
      color: black;
   }
   p {
      color: gray;
      text-transform: uppercase;
   }

   @media (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
}

@keyframes fadeIn {
   to {
      opacity: 1;
   }
}

.pfp {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 20px rgb(151, 151, 151);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  &:hover {
     transform: scale(1.05);
     box-shadow: 0 0 20px black;
  }
}

.defoltpfp {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.info {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   row-gap: 12px;
   font-size: 21px;
   color: #000000;
   padding: 10px; 

   h2 {
      @media (max-width: 800px) {
         text-align: center;
      }
   }
}
