/* .swagger-ui .topbar {
    background-color: #1f2937;
  }
  
  .swagger-ui .topbar-wrapper .link span {
    color: #ffffff !important;
    font-weight: bold;
  }
  
  .swagger-ui .btn {
    background-color: #2563eb !important;
    color: #fff !important;
    border-radius: 6px;
  }
  
  .swagger-ui .opblock.opblock-post {
    border-color: #10b981;
    background: #064e3b;
  }
  
  .swagger-ui .opblock.opblock-get {
    border-color: #3b82f6;
    background: #1e3a8a;
  }
  
  .swagger-ui .opblock.opblock-delete {
    border-color: #ef4444;
    background: #7f1d1d;
  }
  
  .swagger-ui {
    font-family: 'Segoe UI', sans-serif;
    background: #111827;
    color: #e5e7eb;
  }
   */