.card-spotlight {
  position: relative;
  border-radius: 1.5rem;
  padding: 40px 25px 40px 25px;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.1); /* чуть сильнее свет */
  width: 390px;
  height: 240px;

  /* фон и стиль */
  background: linear-gradient(90deg, rgba(137, 229, 252, 0.63) 0%, rgba(158, 144, 252, 0.63) 100%);
  box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: #4c4c4c;
}

.card-spotlight::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 70%
  );
  opacity: 1; /* ВСЕГДА виден */
  transition: background 0.3s ease;
  pointer-events: none;
}
