.teacher__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  @media (max-width: 768px) {
    flex-direction: row;
  }

  @media (max-width: 435px) {
    flex-direction: column;
  }
}

.teacher__languages {
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.1);
  padding: 40px 40px 150px 40px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  
  h2 {
    font-size: 34px;
    color: #d99a01;
    text-align: center;
    margin-bottom: 35px;
  }

  .language__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 23px;
    padding: 10px 14px;
    margin-bottom: 32px;
    background-color: transparent;
    color: #936700;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: background 0.4s ease;

    &:hover {
      background-color: #7346d5b7;
      color: white;
    }
  }
}

.teacher__cards {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.active {
  background-color: #320d82;
  color: white !important;
  border-color: #320d82;
}

.noResults {
  font-size: 18px;
  text-align: center;
  color: #999;
  padding: 40px 0;
}

.fadeIn {
  animation: fadeInUp 0.4s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container__main {
  max-width: none;
  margin: 0;
  padding: 0;
}
